body {
    /* background: #474242; */
}

#game-wrap {
    position: relative;
    height: 210px;
    width: 210px;
    background: lightgrey;
}

.player {
    position: absolute;
    width: 10px;
    height: 10px;
    background: black;
}

.coin {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #d9770f;
}
